:root {
    --dark: #2b2d42;
    --light: #db5bd;
    --border: #dee2e6;
    --border-btn: #edf2f4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: "PT Sans", sans-serif;
}

.container {
    max-width: 1024px;
    margin: auto;
}

.nav-brand {
    font-size: 1.5em;
    font-weight: bold;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.border-shadow {
    border: 1px solid var(--border-btn);
    box-shadow: 1px 3px 10px #e9ecef;
}

.text-dark {
    color: var(--dark);
}

.inline {
    display: inline-block;
}

.text-light {
    color: var(--light);
}

.text-gradient {
    background: linear-gradient(to right, #a3aaf4, #707bf8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#header nav {
    background-color: aqua;
    padding: 1em 0;
    width: 100%;
}

#site-main {
    margin-top: 2em;
    font-family: 'Barlow', sans-serif;
}

#site-main .container .box-nav > a {
    font-size: 1em;
    padding: 1em;
}

#site-main .container form {
    margin: 1em 0;
}

table {
    border-spacing: 0px;
    width: 100%;
}


.table td, .table th {
    padding: .75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
}

.table td > a.btn {
    display: flex;
    padding: .1em .8em;
    font-size: 1.1em;
}

.table tr:hover {
    background-color: #9ca3f4;
}

.table tr:hover td > a {
    box-shadow: none;
}

.table thead.thead-dark th {
    color: #fff;
    background-color: var(--dark);
    border-color: #1a1e23;
}

.table .btn-border-shadow {
    border: 1px solid var(--border-btn);
    box-shadow: 1px 3px 10px #e9ecef;
    display: inline-block;
    padding: 0.1em 0.2em;
    margin: 0 0.2em;
    border-radius: 0.2em;
}

.table .btn-border-shadow:hover {
    box-shadow: 1px 3px 10px #e9ecef;
    background-color: transparent;
    color: inherit;
}

.table .btn-border-shadow.update {
    border-color: green;
}

.table .btn-border-shadow.delete {
    border-color: red;
}

.table .btn-border-shadow.update:hover {
    border-color: darkgreen;
}

.table .btn-border-shadow.delete:hover {
    border-color: darkred;
}

@media only screen and (max-width: 1024px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid var(--border);
    }
    td {
        border: none;
        position: relative;
    }
}

.form-title {
    margin-top: 2em;
}

.form-title > h2 {
    padding: .5em 0;
}

.new_user {
    max-width: 786px;
    margin: auto;
}

#update_user .form-group,
#add_user .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .4em 0;
}

#update_user .form-group input[type="text"],
#add_user .form-group input[type="text"],
#update_user .form-group input[type="email"],
#add_user .form-group input[type="email"] {
    width: calc(100% - 2em);
    padding: .6em .1em;
    margin: 0.5em 0;
    border: 1px solid var(--border);
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    border-radius: .2em;
}

#update_user .form-group .btn,
#add_user .form-group .btn {
    width: calc(50% - 0.5em);
    padding: .4em .8em;
    background-color: aqua;
    border: none;
    font-family: "PT Sans", sans-serif;
    cursor: pointer;
    border-radius: .2em;
    font-size: 1em;
    margin: .4em 0;
}

#update_user .form-group .btn:hover,
#add_user .form-group .btn:hover {
    background-color: rgb(51, 54, 71);
    color: var(--border);
}
